* {
    margin: 0;
    padding: 0;
}

body{
   background: #D4D6E2;
}

.calculator-box {
   height: 90vh;
   width: 300px;
   background: #E8EBF4;
   border-radius: 35px;
   margin: 5vh 0 0 calc(50% - 150px);    
   box-shadow: 0 0 3px 3px #fff inset,0 0 2.5px 2.5px rgb(0,0,0,0.7) inset;
}

.input-area {
   height: 55vh;
   width: 300px;
   margin-top: 35vh;
   position: absolute;
   border-bottom-left-radius: 35px;
   border-bottom-right-radius: 35px;
   display: flex;
   flex-direction: column;
}

.input-area-line {
   height: 60px;
   width: 300px;
   display: flex;
   flex-direction: row;
   margin-top: 7px;
}

.button {
   height: 60px;
   width: 60px;
   outline: none;
   border: none;
   margin-left: 10px;
   border-radius: 22px;
   font-size: 20px;
   font-weight: 400;
   font-family: "Trirong", serif;
}

.normal {
   background: #E4E4EA;
   box-shadow: 0 2px 2px #fff inset,-1px -1px 1px 1px #D2D2DC inset,5px 5px rgb(0,0,0,0.02) inset,0 0 10px 10px rgb(0,0,0,0.03);
   color: rgb(0,0,0,0.7);
}

.normal-dark {
   background: linear-gradient(120deg,#282A33,#393D49,#363B4C);
   box-shadow: 0 3px 3px #373D4D inset,0 0 20px 20px rgb(0,0,0,0.03);
   color: #EFF0F5;
}

.button:active,.normal:active,.grey:active,.orange:active {
   box-shadow: none;
}

.button:first-child {
   margin-left: 15px;
}

.orange {
   background: linear-gradient(150deg,#BB5516,#C86D23,#D87E16);
   box-shadow: 0px 2px 2px #CF8B4E inset,0 0 5px 5px rgb(0,0,0,0.07),-1px -1px 1px 1px #BB5516 inset;
   color: #E5E7F0;
   font-size: 25px;
}

.grey{
   background: linear-gradient(100deg,#969FB0,#B3BCCD,#C1CADA);
   color: rgb(0,0,0,0.7);
   box-shadow: 0 1px 1px #fff inset,0 0 2px 2px rgb(0,0,0,0.2) inset,0 0 10px 10px rgb(0,0,0,0.03),-1px -1px 1px 1px #969FB0 inset;
}

.grey-dark {
   background: linear-gradient(120deg,#465261,#5E697B);
   box-shadow: 0 3px 3px #5F6A7C inset,0 0 20px 20px rgb(0,0,0,0.03);
   color: #EFF0F5;
}

.result-area,.calc-area {
   height: 10vh;
   width: 250px;
   outline: none;
   border: none;
   position: absolute;
   margin: 21vh 0 0 25px;
   text-align: right;
   background: transparent;
   color: rgb(0,0,0,0.75);
   font-size: 40px;
   font-family: "Tahoma", serif;
   font-weight: 300;
   transition: 0.35s;
}

.calc-area {
   height: 5vh;
   margin: 17vh 0 0 25px;
   color: rgb(0,0,0,0.5);
   font-size: 16px;
   font-weight: 300;
}

.toggle {
   height: 40px;
   width: 40px;
   border-radius: 5px;
   position: absolute;
   background: #3A404E;
   margin: 3vh;
   outline: none;
   border: none;
   transition: 1s;
   font-size: 20px;
}